

.frameContainer {
  width: 100%;
  height: 50%;
  padding: 8px 8px 0;
  overflow-y: scroll;
}

.frame {
  width: max-content;
  height: 100%;
}

.frame .list {
  float: left;
}

.frameContainer.focused {
  width: 50%;
  margin: 0px 5px;
  height: 100%;
}

.frameContainer.focused .frame {
  width: 100%;
  height: max-content;
}

#river.frame.focused {
  border-top: none !important;
}

.frameContainer.focused .changeButton {
  width: 100%;
  margin-bottom: 8px;
}

.changeButton {
  height: 47px;
  width: 1em;
  background: var(--bank);
  border: none;
  font: var(--menufont);
  border-radius: 5px;
  padding: 0px;
  margin: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
/* .frameContainer::-webkit-scrollbar {
  display: none;
} */

/* Hide scrollbar for IE, Edge and Firefox */
/* .frameContainer {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
} */

.frameContainer::-webkit-scrollbar:horizontal {
  background-color: transparent;
  height: 3px;
  opacity: 0.5;
}

.frameContainer::-webkit-scrollbar-thumb:horizontal {
  background-color: var(--event);
  border-radius: 5px;
}

.frameContainer::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: var(--select);
}

.monthYear {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  height: 1.2em;
  font-weight: var(--fontWeight);
  padding: 4px;
  border-radius: 5px;
  z-index: 3;
}

.monthYear > span {
  font-size: 0.5em;
  margin-left: 5px;
  background: transparent;
}