.centerAlign {
  text-align: center;
}

.container {
  height: 100%;
  width: 100%;
  /* min-width: 100vw; */
  flex-grow: 1;
  overflow: hidden;
}

.appContainer {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.container.hideComplete .complete {
  display: none;
}

.container.focused {
  display: flex;
  flex-direction: row;
}


.rightAlign {
  position: absolute;
  right: 0;
}

.table {
  height: calc(100vh - 37px);
  width: 100vw;
  overflow: auto;
  padding: 30px;
  position: fixed;
  top: 37px;
  left: 0;
  z-index: 10;
  display: table;
  flex-direction: column;
  background: var(--background);
  color: var(--foreground);
}

.selectMenu {
  position: fixed;
  background: var(--background);
  background-blend-mode: color-dodge;
  color: var(--foreground);
  z-index: 3;
  padding: 8px;
}

.selectMenu p:hover {
  color: var(--select);
}

.selectMenu p {
  margin: 0;
  font: var(--menuFont);
  font-size: 18px;
}

.slideButton {
  display: none;
  width: 100%;
  height: 20px;
  border: 1px solid var(--border);
  border-radius: 5px;
}

.zoomed .slideButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.focused .slideButton {
  float: left;
  height: 100%;
  width: 20px;
  text-align: center;
}

.container.zoomed {
  width: 100%;
  height: calc(200% - 45px);
}

.container.zoomed.focused {
  height: 100%;
  width: calc(200% - 45px);
}